body{
    background-color: #dc3030;
    font-family: Arial, sans-serif;
}
/* In css/scratch.css */
.clear-float {
  clear: both;
}
.button {
  background-color: #4665c3; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.list {
font-family: 'Courier New', Courier, monospace;    
padding: 0;
}